<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/styles.css">

	</head>
	<title></title>
	
	<body>
		<h1> Melissa Gaines </h1>
		
		<for method="POST" action="/contact"

		<label for="name">Name</label>
		<input type="text" name="name">

		<label for="number">Number</label>
		<input type="text" name="number">

		<label for="emsil">Email</label>
		<input type="text" name="email">


		<label for="comment">Comment</label>
		<input type="text" name="comment">


	</body>>	

</html>