<!DOCTYPE> 
<html>

	<head>
		<link rel="stylesheet" href="css/style.css">
	<title>
		
	</title>
	
	<body>
		<ul>
			<li>Home</li>
			<li>Contact</li>
			<li>About</li>

		</ul>>
	
	
	<%= yield %>





	</body>

</html>